<a href="https://colab.research.google.com/github/MichalWilk45/MichalWilk45/blob/main/DS_2_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 5.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 24.8 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824028 sha256=4c1dba15accb3e2ac451b3ab4004c14af8c92a119564341a45b37e40c40817d9
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [5]:
from pyspark import SparkContext

sc = SparkContext("local", "First App")
data = [1, 2, 3, 4, 5]
rdd = sc.parallelize(data)

In [4]:
sc.stop()

In [14]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("First App").getOrCreate()
data = [("Alice", 34), ("Bob", 45), ("Charlie", 28)]
columns = ["Name", "Age"]

df = spark.createDataFrame(data, columns)
df.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 34|
|    Bob| 45|
|Charlie| 28|
+-------+---+

In [7]:
# Przykład użycia funkcji okna
from pyspark.sql import functions as F
from pyspark.sql.window import Window

data = [("A", 1), ("A", 2), ("A", 3), ("B", 4), ("B", 5), ("C", 6)]
columns = ["key", "value"]

df = spark.createDataFrame(data, columns)

window_spec = Window.partitionBy("key").orderBy("value")
ranked_df = df.withColumn("rank", F.row_number().over(window_spec))
ranked_df.show()

+---+-----+----+
|key|value|rank|
+---+-----+----+
|  A|    1|   1|
|  A|    2|   2|
|  A|    3|   3|
|  B|    4|   1|
|  B|    5|   2|
|  C|    6|   1|
+---+-----+----+

In [8]:
# Przykład użycia funkcji agregujących
grouped_df = df.groupBy("key").agg(F.sum("value").alias("sum"), F.mean("value").alias("mean"))
grouped_df.show()

+---+---+----+
|key|sum|mean|
+---+---+----+
|  B|  9| 4.5|
|  C|  6| 6.0|
|  A|  6| 2.0|
+---+---+----+

In [11]:
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.feature import VectorAssembler
from pyspark.ml import Pipeline
from pyspark.sql.functions import col

In [10]:
# Wygeneruj dane testowe
data = spark.createDataFrame([
  (0, 1.2, 1.3, 1.0),
  (1, 2.2, 3.3, 0.0),
  (1, 3.2, 4.3, 1.0),
  (0, 4.2, 5.3, 0.0),
  (0, 5.2, 6.3, 1.0),
  (1, 6.2, 7.3, 0.0),
  (1, 7.2, 8.3, 1.0),
  (0, 8.2, 9.3, 0.0),
  (1, 9.2, 1.3, 1.0),
  (1, 10.2, 2.3, 0.0)
], ["label", "feature1", "feature2", "feature3"])

In [24]:
assembler=VectorAssembler(inputCols=["feature1", "feature2", "feature3"],outputCol="features")

In [26]:
data = assembler.transform(data)

In [28]:
train_data, test_data=data.randomSplit([0.7,0.3],seed=123)

In [29]:
lr=LogisticRegression(featuresCol="features", labelCol="label")

In [30]:
pipeline=Pipeline(stages=[lr])

model=pipeline.fit(train_data)

predictions=model.transform(test_data)

evaluator= BinaryClassificationEvaluator(labelCol='label',rawPredictionCol='rawPrediction', metricName='areaUnderROC',)

auc=evaluator.evaluate(predictions)

predictions.select('label','prediction','probability').show()

+-----+----------+--------------------+
|label|prediction|         probability|
+-----+----------+--------------------+
|    0|       1.0|[0.30165776275201...|
|    1|       0.0|[0.64927965077696...|
|    1|       1.0|[0.25944687123224...|
+-----+----------+--------------------+

In [31]:
spark = SparkSession.builder.appName("First App").getOrCreate()

Wygeneruj DataFrame z jedną kolumną liczba (liczby całkowite od 1 do 100). Następnie wybierz liczby podzielne przez 3 i pomnóż je przez 2.

In [17]:
import pyspark
from pyspark.sql.functions import col

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("First App").getOrCreate()

In [18]:
data = [(i, ) for i in range(1,101)]
data

[(1,),
 (2,),
 (3,),
 (4,),
 (5,),
 (6,),
 (7,),
 (8,),
 (9,),
 (10,),
 (11,),
 (12,),
 (13,),
 (14,),
 (15,),
 (16,),
 (17,),
 (18,),
 (19,),
 (20,),
 (21,),
 (22,),
 (23,),
 (24,),
 (25,),
 (26,),
 (27,),
 (28,),
 (29,),
 (30,),
 (31,),
 (32,),
 (33,),
 (34,),
 (35,),
 (36,),
 (37,),
 (38,),
 (39,),
 (40,),
 (41,),
 (42,),
 (43,),
 (44,),
 (45,),
 (46,),
 (47,),
 (48,),
 (49,),
 (50,),
 (51,),
 (52,),
 (53,),
 (54,),
 (55,),
 (56,),
 (57,),
 (58,),
 (59,),
 (60,),
 (61,),
 (62,),
 (63,),
 (64,),
 (65,),
 (66,),
 (67,),
 (68,),
 (69,),
 (70,),
 (71,),
 (72,),
 (73,),
 (74,),
 (75,),
 (76,),
 (77,),
 (78,),
 (79,),
 (80,),
 (81,),
 (82,),
 (83,),
 (84,),
 (85,),
 (86,),
 (87,),
 (88,),
 (89,),
 (90,),
 (91,),
 (92,),
 (93,),
 (94,),
 (95,),
 (96,),
 (97,),
 (98,),
 (99,),
 (100,)]

In [23]:
df = spark.createDataFrame(data, ['liczby'])

In [24]:
df.show()

+------+
|liczby|
+------+
|     1|
|     2|
|     3|
|     4|
|     5|
|     6|
|     7|
|     8|
|     9|
|    10|
|    11|
|    12|
|    13|
|    14|
|    15|
|    16|
|    17|
|    18|
|    19|
|    20|
+------+
only showing top 20 rows

In [26]:
df.filter(col('liczby') %3 == 0).withColumn('multiply', col('liczby')*2).show()

+------+--------+
|liczby|multiply|
+------+--------+
|     3|       6|
|     6|      12|
|     9|      18|
|    12|      24|
|    15|      30|
|    18|      36|
|    21|      42|
|    24|      48|
|    27|      54|
|    30|      60|
|    33|      66|
|    36|      72|
|    39|      78|
|    42|      84|
|    45|      90|
|    48|      96|
|    51|     102|
|    54|     108|
|    57|     114|
|    60|     120|
+------+--------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col

data = [(i,) for i in range(1, 101)]
df = spark.createDataFrame(data, ['liczba'])
df.filter(col('liczba') % 3 == 0).withColumn('podwojona_liczba', col('liczba') * 2).show()

Ćwiczenie 2:
Wygeneruj DataFrame z dwiema kolumnami: imie i nazwisko. Następnie wyświetl wszystkie unikalne nazwiska

In [34]:
data = [('Adam', 'Kowalski'), ('Ewa', 'Nowak'), ('Jan', 'Kowalski'), ('Anna', 'Nowak')]
df = spark.createDataFrame(data, ['imie', 'nazwisko'])
df.show()
df.select(col('nazwisko')).distinct().show()

+----+--------+
|imie|nazwisko|
+----+--------+
|Adam|Kowalski|
| Ewa|   Nowak|
| Jan|Kowalski|
|Anna|   Nowak|
+----+--------+

+--------+
|nazwisko|
+--------+
|   Nowak|
|Kowalski|
+--------+

Wygeneruj DataFrame z dwiema kolumnami: nazwa i ilosc (liczby całkowite, kolejno: 10, 9, 8, 7, 6, 5, 4, 3, 2, 1). Następnie posortuj DataFrame malejąco po kolumnie ilosc i wyświetl 3 pierwsze wiersze.

In [44]:
data = [('jabłka', 10), ('gruszki', 9), ('śliwki', 8), ('banany', 7), ('winogrona', 6), ('śliwy', 5), ('mandarynki', 4), ('kiwi', 3), ('pomarańcze', 2), ('truskawki', 1)]

In [45]:
df = spark.createDataFrame(data,['nazwa', 'ilosc'])
df.show()

+----------+-----+
|     nazwa|ilosc|
+----------+-----+
|    jabłka|   10|
|   gruszki|    9|
|    śliwki|    8|
|    banany|    7|
| winogrona|    6|
|     śliwy|    5|
|mandarynki|    4|
|      kiwi|    3|
|pomarańcze|    2|
| truskawki|    1|
+----------+-----+

In [46]:
df.orderBy(col('ilosc').desc()).show(3)

+-------+-----+
|  nazwa|ilosc|
+-------+-----+
| jabłka|   10|
|gruszki|    9|
| śliwki|    8|
+-------+-----+
only showing top 3 rows

Wygeneruj DataFrame z dwiema kolumnami: imie i data_urodzenia (np. "1990-01-01"). Następnie oblicz wiek każdej osoby na podstawie daty urodzenia i wyświetl DataFrame wraz z kolumną wiek posortowany malejąco po wieku.

In [55]:
from pyspark.sql.functions import datediff, current_date, to_date

data = [('Adam', '1990-01-01'), ('Ewa', '1995-05-15'), ('Jan', '1985-12-30'), ('Anna', '1980-07-12')]
df = spark.createDataFrame(data, ['imie', 'data urodzenia'])
df.show()
df = df.withColumn('data urodzenia', to_date(col('data urodzenia')))
df.show()
df = df.withColumn('wiek', datediff(current_date(),col("data urodzenia"))/356)
df.orderBy(col("wiek").desc()).show()

+----+--------------+
|imie|data urodzenia|
+----+--------------+
|Adam|    1990-01-01|
| Ewa|    1995-05-15|
| Jan|    1985-12-30|
|Anna|    1980-07-12|
+----+--------------+

+----+--------------+
|imie|data urodzenia|
+----+--------------+
|Adam|    1990-01-01|
| Ewa|    1995-05-15|
| Jan|    1985-12-30|
|Anna|    1980-07-12|
+----+--------------+

+----+--------------+------------------+
|imie|data urodzenia|              wiek|
+----+--------------+------------------+
|Anna|    1980-07-12| 43.81460674157304|
| Jan|    1985-12-30| 38.20505617977528|
|Adam|    1990-01-01| 34.09550561797753|
| Ewa|    1995-05-15|28.589887640449437|
+----+--------------+------------------+

Ćwiczenie 5:¶
Wygeneruj DataFrame z trzema kolumnami: imie, nazwisko i ocena Następnie stwórz nowy DataFrame z jedną kolumną średnia_ocena dla każdego nazwiska (obliczoną na podstawie wszystkich ocen danej osoby) i wyświetl tylko te wiersze, w których średnia ocena jest większa lub równa 4.5.

In [57]:
from pyspark.sql.functions import avg, col
data = [('Adam', 'Kowalski', 5), ('Ewa', 'Nowak', 4), ('Jan', 'Kowalski', 3), ('Anna', 'Nowak', 5), ('Piotr', 'Kowalski', 5), ('Magda', 'Nowak', 4), ('Karol', 'Kowalski', 4), ('Ania', 'Nowak', 5), ('Kasia', 'Kowalski', 5), ('Michał', 'Kowalski', 5)]
df = spark.createDataFrame(data, ["imie","nazwisko","ocena"])
df.show()

+------+--------+-----+
|  imie|nazwisko|ocena|
+------+--------+-----+
|  Adam|Kowalski|    5|
|   Ewa|   Nowak|    4|
|   Jan|Kowalski|    3|
|  Anna|   Nowak|    5|
| Piotr|Kowalski|    5|
| Magda|   Nowak|    4|
| Karol|Kowalski|    4|
|  Ania|   Nowak|    5|
| Kasia|Kowalski|    5|
|Michał|Kowalski|    5|
+------+--------+-----+

In [63]:
grouped_df = df.groupBy("imie", 'nazwisko').agg(avg(col('ocena')).alias('srednia'))
grouped_df.filter(col("srednia") >= 4.5).show()

+------+--------+-------+
|  imie|nazwisko|srednia|
+------+--------+-------+
|  Anna|   Nowak|    5.0|
| Piotr|Kowalski|    5.0|
|  Adam|Kowalski|    5.0|
| Kasia|Kowalski|    5.0|
|  Ania|   Nowak|    5.0|
|Michał|Kowalski|    5.0|
+------+--------+-------+

Ćwiczenie 6:
Wygeneruj DataFrame z dwiema kolumnami: id (unikalne wartości całkowite od 1 do 10) i tekst (tekst losowy o długości 10 znaków). Następnie dodaj nową kolumnę tekst_zmieniony z tekstem z kolumny tekst, w którym zmienione zostały wszystkie litery na wielkie oraz usunięte zostały spacje. Na koniec wyświetl 5 pierwszych 
wierszy nowego DataFrame.

In [66]:
from pyspark.sql.functions import upper, regexp_replace

data = [(1, 'Lorem ipsuM'), (2, 'DoLor siT AmEt'), (3, 'consectetur Adipiscing'), (4, 'eLit, sed do'), (5, 'tempor Incididunt')]

df = spark.createDataFrame(data, ["id","tekst"])
df = df.withColumn("tekst_zmieniony", regexp_replace(upper(col('tekst')), " ", ""))
df.show(5)

+---+--------------------+--------------------+
| id|               tekst|     tekst_zmieniony|
+---+--------------------+--------------------+
|  1|         Lorem ipsuM|          LOREMIPSUM|
|  2|      DoLor siT AmEt|        DOLORSITAMET|
|  3|consectetur Adipi...|CONSECTETURADIPIS...|
|  4|        eLit, sed do|          ELIT,SEDDO|
|  5|   tempor Incididunt|    TEMPORINCIDIDUNT|
+---+--------------------+--------------------+